<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title><%= @title %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139122692-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-139122692-1');
    </script>

    <link rel="shortcut icon" href="">
  </head>
  <body>

    <!-- Place your content here -->
    <div class="container">
      <div class="left_wrap">

	<h1>JSON</h1>
	<form action="json2csv" method="POST">
	  <div>
	    <textarea name="json" rows="5"><%= @json %></textarea>
	  </div>

          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- JSON2CSV -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-9555568254794680"
               data-ad-slot="4978824044"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
          <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
          </script>

	  <div>
	    <input type="submit" value="変換">
	  </div>
	</form>

      </div>
      <div class="right_wrap">

	<h1>CSV</h1>
	<form action="confirm" method="POST">
	  <div>
	    <textarea name="message" rows="5"><%= @csv %></textarea>
	  </div>
	</form>

      </div>
    </div>

    <!-- SCRIPTS -->
    <!-- Example: <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
  </body>
</html>
